$color1: #000001; //choose a colour
$color2: #000002; //choose a colour
$color3: #000003; //choose a colour
$color4: #000004; //choose a colour
$color5: #000005; //choose a colour
$color6: #000006; //choose a colour